/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Dropdown Styling */
label {
    display: block;
    margin: 20px auto 10px;
    text-align: center;
    font-size: 18px;
}

#songDropdown {
    display: block;
    margin: 0 auto 30px;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    font-size: 16px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: #1DB954;
    color: #FFFFFF;
}

#songDropdown option {
    background-color: #121212;
    color: #FFFFFF;
}

#selectedSong {
    text-align: center;
    margin: 20px auto;
    background-color: #282828;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#selectedSong h2 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #1DB954;
}

#selectedSongPlayer {
    border-radius: 10px;
}

/* Recommendations Styling */
#recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
}

#recommendations div {
    background-color: #FF6347;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#recommendations h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

iframe {
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 600px) {
    #songDropdown {
        width: 90%;
    }
}
